server:
  port: 8090

spring:
  application:
    name: spring_lock

  profiles:
    active: dev
    include: secret

  jackson:
    serialization:
      fail-on-empty-beans: false

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: 100
        highlight_sql: true
        use_sql_comments: true

logging:
  level:
    io.river.spring_lock: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
